# API Keys (Required to enable respective provider)
ANTHROPIC_API_KEY=your_anthropic_api_key_here       # Required: Format: sk-ant-api03-...
PERPLEXITY_API_KEY=your_perplexity_api_key_here     # Optional: Format: pplx-...
OPENAI_API_KEY=your_openai_api_key_here             # Optional, for OpenAI/OpenRouter models. Format: sk-proj-...
GOOGLE_API_KEY=your_google_api_key_here             # Optional, for Google Gemini models.
MISTRAL_API_KEY=your_mistral_key_here               # Optional, for Mistral AI models.
XAI_API_KEY=YOUR_XAI_KEY_HERE                       # Optional, for xAI AI models.
AZURE_OPENAI_API_KEY=your_azure_key_here            # Optional, for Azure OpenAI models (requires endpoint in .taskmasterconfig).

# 本機/內網測試時以及同台server hosting 時使用相對路徑
VITE_API_URL=/api
# 當前後端分開部署時，這邊要帶入後端domain
# VITE_API_URL=https://api.example.com/api